/* body {
  background: #f4f6f8;
  font-family: 'Segoe UI', Arial, sans-serif;
  padding: 15px 0;
}
 */


/* h5 {
  color: #888!important;
  margin-bottom: 4px;
  margin-top: 10px;
  font-weight: 500;
  letter-spacing: 1px;
} */


.unities {
  color: #aaa;
  font-size: 1.1rem;
  margin-bottom: 0;
}

/* .square-card {
  aspect-ratio: 1 / 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */




